.app-page {
    width: 100%;
    height: 100%;

    .app-page__img {
        &--screenshot {
            // max-width: 500px;
            max-width: none;
            max-height: 340px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        }
    }
    .main-page {
        &__content {
            // font-size: 100%;
            position: relative;
            padding: 20px 25px;

            h2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;

                a {
                    display: flex;
                    align-items: center;
                    // .app-page__img--back {
                    margin-right: 10px;
                    // }
                }
            }

            .app-page__links {
                margin: 15px 0;
                font-size: 120%;
            }

            h3 {
                font-weight: normal;
                margin-bottom: 15px;
            }

            .app-page__images {
                display: flex;
                flex-direction: column;
                align-items: center;
                // flex-wrap: wrap;
                // margin-top: 500px;
                margin: 10px 0;
                // left: 25px;
                max-width: 100%;
                // top: 0;
                // position: absolute;
                overflow-x: auto;
                position: relative;
                height: 480px;

                &-wrapper {
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                    // align-items: flex-start;
                    align-items: center;
                    position: absolute;
                    left: 10px;
                    top: 10px;

                    .app-page__image-block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-right: 15px;
                        margin-bottom: 10px;

                        div {
                            padding: 0 5px;
                            margin-top: 5px;
                            height: 2rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        & {
            .main-page {
                &__content {
                    .app-page__images {
                        height: 380px;
                        &-wrapper {
                            // position: relative;
                            // flex-direction: column;
                            align-items: flex-start;
                            .app-page__img--screenshot {
                                max-width: 500px;
                                height: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}
